body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.chart-container {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    padding: 0;
}

.chart-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#fullscreen-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fullscreen-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


h1, h2, h3 {
    color: #333;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 15px; /* Adds space between list items */
    line-height: 1.5;   /* Adjusts line height for better readability */
}

h3 {
    margin-top: 20px;
    font-weight: bold;
    color: #444;
}
